@model ProfileViewModel

@{
    ViewData["Title"] = "Manage Profile";
    ViewData.AddActivePage(ManageNavPages.Profile);
}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="heading">@ViewData["Title"]</h2>
            <hr />
        </div>
    </div>

    <div class="row profile-data">
        <section class="col-md-4
                        profile-image-section">
            <div class="col-md-12">
                <img src="@Model.ProfileImageSource"
                     class="img-responsive profile-img"
                     alt="Profile Picture" />
            </div>

            <div class="col-md-12">
                <form method="POST"
                      enctype="multipart/form-data"
                      asp-action="UploadProfilePicture">
                    <div asp-validation-summary="ModelOnly"></div>

                    <p class="disclaimer">
                        *Please note, that profile image must be no bigger than
                        <span class="bold">5 MBs.</span>
                        and be of some type image!*
                    </p>

                    <div class="form-group">
                        <input name="file"
                               type="file"
                               accept="image/*"
                               style="display: none" />

                        <button type="button"
                                class="btn btn-default manage-btn col-md-5"
                                onclick="document.getElementsByName('file')[0].click()">
                            Choose your file!
                        </button>

                        <input type="submit"
                               class="btn btn-default upload-btn manage-btn col-md-5 col-md-offset-2"
                               value="Upload Image!" />

                        <div>
                            <span asp-validation-for="ProfileImageSource"
                                  class="text-danger">
                            </span>
                        </div>
                    </div>

                </form>
            </div>
        </section>

        <section class="col-md-4
                        col-md-offset-1
                        profile-details-section">
            <div class="user-name">
                @Model.Username
            </div>

            <div class="role">
                @Model.Role
            </div>

            <div class="contact-info">
                <h1>contact information</h1>

                <div class="">
                    <label>e-mail:</label>
                    @Model.Email
                </div>
            </div>

            <div class="contact-info">
                <h1>general information</h1>

                <div class="">
                    <label>genre:</label>
                    @Model.Genre
                </div>

                <div class="">
                    <label>birthdate:</label>
                    @Model.Birthdate.ToString("dd MMMM, yyyy")
                </div>
            </div>
        </section>

        <section class="col-md-2
                        col-md-offset-1
                        profile-actions-section">
            <h1 class="heading-actions">Actions</h1>
            <ul>
                <li class="profile-action">
                    <a asp-controller="Manage"
                       asp-action="EditProfile"
                       class="edit-icon">
                        edit profile
                    </a>
                </li>

                <li class="profile-action">
                    <a asp-controller="Manage"
                       asp-action="ChangePassword"
                       class="password-icon">
                        change password
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
